.place-holder .placeholder-image {
    position: relative;
}
.place-holder .placeholder-image p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.5);
    font-size: 1.5rem;
    padding: 10px;
    color: white;
}