{namespace pcm=MEDIENGARAGE\Piwikconsentmanager\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/style.css', extensionName: 'PiwikConsentManager')}"/>
</f:section>
    <f:if condition="{pcm:getPropertyFromAspect(aspect: 'piwik.consent', property: '{data.list_type}')}">
        <f:then>
            <div id="{data.CType}-{data.pid}-{data.uid}-{data.colPos}">
                <f:cObject typoscriptObjectPath="tt_content.shortcut" data="{data}" table="tt_content" />
            </div>
        </f:then>
        <f:else>
            <f:render partial="Placeholder" arguments="{_all}" />
        </f:else>
    </f:if>
</html>